<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" >Website name</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  routerLink="seller-auth">Seller</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="user-auth">Login/Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cart-page">Cart({{cartItems}})</a>
          </li>
        </ul>

        <ul *ngSwitchCase="'user'" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  routerLink="seller-auth">Seller</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#">My Order</a>  
            <!-- my-order link -->
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cart-page">Cart({{cartItems}})</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">{{userName | titlecase}}</a>
          </li>
          <div class="userlogout">
            <button type="button" class="btn btn-danger" (click)="userLogout()">Logout</button>
        </div>
        </ul>
        
        <ul *ngSwitchCase="'seller'" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/seller-add-product">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/seller-home">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">{{sellerName | titlecase}}</a>
          </li>
          <div class="logout">
            <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
        </ul>
      </div>
      </div>

        <form  class="d-flex" role="search">
          <input #searchInput class="form-control me-2" type="search" (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" (click)="submitSearch(searchInput.value)">Search</button>
          <ul class="suggested-search" *ngIf="searchResult">
            <li *ngFor="let item of searchResult">
              <a (mousedown)="redirectToDetails(item.id)" >{{item.name}}</a>
            </li>
          </ul>
        </form>
      </div>
  </nav>