<!-- <div class="user-auth">
  <div *ngIf="!showLogin" class="sign-up">
    <h1>User Signup</h1>
    <form #userSignUp="ngForm" class="common-form" (ngSubmit)="signUp(userSignUp.value)">
      <input type="text" class="form-input" name="name" placeholder="Enter User Name" ngModel />
      <input type="text" class="form-input" name="email" placeholder="Enter User Email" ngModel />
      <input type="password" class="form-input" name="password" placeholder="Enter User Password" ngModel />
      <button class="form-button">Sign Up</button>
      <p>Already Have Account ? <a (click)="openLogin()">Click Here</a></p>
    </form>
  </div> -->
<!-- </div> -->


<div *ngIf="!showLogin">
  <h1 style="text-align: center; margin-top: 50px; margin-bottom: 50px; color: #0d6efd;">User Sign Up</h1>
  <div class="container">
    <form #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)">
      <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" ngModel class="form-control" name="name" id="Name" placeholder="Enter Your Name"
          aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email Address</label>
        <input type="email" ngModel class="form-control" name="email" id="Email" placeholder="Enter Your Email"
          aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <label for="inputPassword5" class="form-label">Password</label>
      <input type="password" ngModel name="password" id="inputPassword5" class="form-control"
        placeholder="Enter Your Password" aria-describedby="passwordHelpBlock">
      <div id="passwordHelpBlock" class="form-text">
        Your password must be 8-20 characters long, contain letters and numbers.
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Sign Up</button><br>
      <a style="cursor: pointer;" (click)="openLogin()">Already have an account? Click to login.</a>
    </form>
  </div>
</div>

<!-- Login Form  -->
<!-- <div *ngIf="showLogin" class="login">
    <h1>User Login</h1>
    <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)">
      <p class="error-p">{{authError}}</p>
      <input type="text" class="form-input" name="email" placeholder="Enter User Email" ngModel email #email="ngModel"
        required />
      <p class="invalid-input"><span *ngIf="email.invalid && email.touched ">Please enter valid input</span></p>
      <input type="password" class="form-input" name="password" placeholder="Enter User Password" ngModel minlength="2"
        maxlength="20" #password="ngModel" required />
      <p class="invalid-input"><span *ngIf="password.invalid && password.touched ">Please enter valid input</span></p>
      <button [disabled]="userLogin.invalid" class="form-button">Login</button>
      <p>Want to Create Account ? <a (click)="openSignUp()">Click Here</a></p>
    </form>
  </div> -->

<div *ngIf="showLogin">
  <h1 style="text-align: center; margin-top: 50px; margin-bottom: 50px; color: #0d6efd;">User Login</h1>
  <p style="color: red; text-align: center;">{{authError}}</p>
  <div class="container">
    <form #userLogin="ngForm" (ngSubmit)="login(userLogin.value)">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email Address</label>
        <input type="email" ngModel class="form-control" name="email" id="Email" placeholder="Enter Your Email"
          aria-describedby="emailHelp" ngModel email #email="ngModel" required>
        <p class="invalid-input"><span *ngIf="email.invalid && email.touched ">Please enter valid input</span></p>

      </div>
      <label for="inputPassword5" class="form-label">Password</label>
      <input type="password" ngModel name="password" id="inputPassword5" class="form-control"
        placeholder="Enter Your Password" aria-describedby="passwordHelpBlock" ngModel minlength="2" maxlength="20"
        #password="ngModel" required>
      <p class="invalid-input"><span *ngIf="password.invalid && password.touched ">Please enter valid input</span></p>
      <div id="passwordHelpBlock" class="form-text">
      </div>
      <br>
      <button [disabled]="userLogin.invalid" type="submit" class="btn btn-primary">Login</button><br>
      <a style="cursor: pointer;" (click)="openSignUp()">New User? Click to Sign up.</a>
    </form>
  </div>
</div>